<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light d-flex align-items-center mb-4 p-4">
    <a class="navbar-brand mx-3 my-0 h1" href="/articles">
      WIKINIMIOUS
    </a>
    <button type="button" class="btn btn-secondary mx-3"><%= link_to "CREATE ARTICLE", new_article_path()%></button>
  </nav>
    <%= yield %>
  </body>
</html>
